<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    PrimerParcialLabIV
  </h1>
</div>

<!-- <app-listado-productos (enviarDato)="mostrar($event)"></app-listado-productos> -->
<app-listado-mascotas></app-listado-mascotas>
<app-busqueda-mascota (enviarDato)="mostrar($event)"></app-busqueda-mascota>
<app-mostrar-mascota [productos]="productos"></app-mostrar-mascota>
<!-- <app-mostrar-producto [producto]="producto"></app-mostrar-producto> -->