<header>
   
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<!-- <div > -->

    <table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
        <thead>
          <tr>
          
            <th  scope="col" class="col1">NOMBRE</th>
            <th  scope="col" class="col2">CLAVE</th>
            <!-- <th  scope="col" class="col3">APELLIDO</th>
            <th  scope="col" class="col4">EDAD</th>
            <th  scope="col" class="col5">SEXO</th> -->
  
          </tr>
      </thead>
  
          <tbody id="tBodyTable"  *ngFor="let item of listaUsuarios">
              <tr> 
            
                    <td>{{item.email}}</td>
                    <td>{{item.clave}}</td>

               
              </tr> 
          
             </tbody>
            </table>
  
 


<!-- </div> -->

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Segunda Clase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

</head> -->
<!-- <body style=" background-color: grey;"> -->
    <!-- NAV -->
    <!-- <nav class="navbar navbar-sm navbar-dark bg-dark">
        <div class="container-fluid">

        <div class="navbar-header" id="navHeader">
                <a class="navbar-brand" href="#">Listado de personas</a>
        </div>
                                  
  

      </div>
    </nav>
    
  <br> -->

  



<!-- <br>
<div id="divTable">
<table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
    <thead>
      <tr>
        
        <th  scope="col" class="col1">ID</th>
        <th  scope="col" class="col2">NOMBRE</th>
        <th  scope="col" class="col3">APELLIDO</th>
        <th  scope="col" class="col4">EDAD</th>
        <th  scope="col" class="col5">SEXO</th>

    
      </tr>
    </thead> -->

<!-- 
    <tbody id="tBodyTable">
     
    </tbody>
  </table>
</div>
 -->



<!-- <div id="divPresentacion" style="visibility:hidden">
<h1>Listado de Personas</h1><br>
<p>Bienvenido. Recuerde que puede agregar/modificar/eliminar una persona. <br> -->
<!-- Para cambiar su avatar solo haz click en la imagen. -->
<!-- </p>
</div>
</div>
</body>
</html> -->
