<header>
   
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Usuarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SCRIPTS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body>

      

        <!-- <div *ngIf="muestroTabla"> -->
        <!-- <p app-listado-de-usuarios> -->
     
        <!-- <app-listado-de-usuarios [listadoUsuario]= "listadoUsuarios"></app-grilla-usuarios> -->
          
                <!-- <p >{{item.nombre}}</p>
                <p >{{item.clave}}</p> -->
            
        <!-- </p> -->
        <!-- <button class="btn" (click)="tablaFalse()">Sacar tabla</button> -->
        <!-- </div> -->








        <nav class="navbar navbar-sm navbar-dark bg-dark">
            <div class="container-fluid">
    
              <div class="navbar-header" id="navHeader">
                  <!-- href="#" -->
                      <a class="navbar-brand" style="color:white" (click)="MuestroTabla()" >Listado de personas</a>
              </div>
                    
              <!-- data-toggle="modal" data-target="#myModal" id="addPopup" -->
              <button class="btn btn-outline-danger" (click)=LimpioBase()>Limpiar base
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
            <button class="btn btn-outline-success" (click)=MuestroLoginBOX()>Agregar usuario
              <i class="glyphicon glyphicon-plus"></i>
            </button>
            </div>
        </nav>
        
      <br>


      <div class="login-box" *ngIf="loginBOX">
          <button class="close" (click)="MuestroTabla()">&times;</button>
        <br>
         <h1>Agregar</h1>
        
          <div class="input-group mb-3">
              
             <input type="email" class="form-control" [(ngModel)]="usuario.email"  placeholder="email@email.com" required >
          
          </div>
          
          <div class="input-group mb-3">
         
            <input  type="password" class="form-control" [(ngModel)]="usuario.clave"  placeholder="password" required>
  
        </div>
          <!-- <div class="btn-group" role="group"> -->
            <button class="btn btn-outline-success btn-block" (click)="CreoUsuario()">CREAR</button>

          <!-- </div> -->
          <!-- btn btn-outline-danger botonSalir -->
         
        </div>


    
      <!-- CREO TABLA -->
        <div class="container" *ngIf="muestroTabla">
          <br>
          <app-listado-de-usuarios [listaUsuarios]= "listaUsuarios"></app-listado-de-usuarios>
      
        </div>
    
    
    
    
    
    
    
    
    
    
    <!-- SPINNER -->
    <div class="spinner" id="spinner" style="display: none">
        <!-- <img src="./file/45.gif" alt=""> -->
        <!-- <img class="spinner" src="https://btcspinner.io/img/spinners/default.png" alt=""> -->
    </div>

    <!-- </div> -->




</body>
