<app-header></app-header>
<body>
    <div Temadark class="login-box" >
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login()"  >
       
                  
          <h1 >Login</h1>
          <div class="textbox" >
            <input type="email"  formControlName="email" name="email"   placeholder="email@email.com" >
          </div>
          <div class="textbox" >
            <input  type="password" formControlName="clave" name="clave"  placeholder="password" >
          </div>

          <!-- CAPTCHA -->
          <br>
          <div data-theme="dark" #recaptcha style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>               
          <br>
          <p *ngIf="captchaE">Acepte el captcha por favor.</p>
          
          <!-- FIN CAPTCHA -->

          <!-- SPINNER -->
          <div *ngIf="isLoading" class="d-flex justify-content-center">
              <div class="spinner-border" role="status"></div>
            </div>
        <!-- FIN SPINNER -->
         
          <button type="submit" class="botonIngresar">INGRESAR</button>
          <button class="btn btn-warning " *ngIf="!IngresoBool" (click)="loginBOXMuestro()">Registrarme</button>

          <p *ngIf="error" style="color: white;">Usuario Incorrecto</p>
          <!-- <p *ngIf="success">Usuario Incorrecto</p> -->
         
        
        <br>
               
</form>
<div class="botonCargaLogin">
    <button class="btn btn-primary"(click)="LoginAlumno()" ><i class="fa fa-user"></i></button>
      <button class="btn btn-secondary"(click)="LoginProfesor()" ><i class="fa fa-book"></i></button>
      <button class="btn btn-danger"(click)="LoginAdmin()"><i class="fa fa-lock"></i></button>
      <!-- <button class="btn btn-warning"(click)="LoginChopera()" ><i class="fa fa-beer"></i></button>
      <button class="btn btn-success"(click)="LoginTragos()" ><i class="fa fa-glass"></i></button>
      <button class="btn btn-info"(click)="LoginCocina()"><i class="fa fa-cutlery"></i></button>
      <button class="btn btn-light"(click)="LoginCandy()" ><i class="fa fa-birthday-cake"></i></button> -->
      <br>
    </div>
  </div>   


  <div class="login-box" *ngIf="loginBOX">
    <button class="close" (click)="CancelarEditar()">&times;</button>
  <br>
   <h1 *ngIf="!modificar">Agregar</h1>
   <h1 *ngIf="modificar">Modificar</h1>

   <div class="input-group mb-3">
        
    <input type="text" class="form-control" [(ngModel)]="usuarioRegis.nombre"  placeholder="Nombre" required >
 
 </div>
    <div class="input-group mb-3">
        
       <input type="email" class="form-control" [(ngModel)]="usuarioRegis.email"  placeholder="email@email.com" required >
    
    </div>
    
    <div class="input-group mb-3">
   
      <input  type="text" class="form-control" [(ngModel)]="usuarioRegis.clave"  placeholder="password" required>

  </div>

        <select class="form-control" [(ngModel)] = "usuarioRegis.tipo">
            <option selected hidden>Selecciona Tipo</option>

        <option value="administrador">Administrador</option>
        <option value="profesor">Profesor</option> 
        <option value="alumno">Alumno</option>
        </select>
   
      <button class="btn btn-outline-success btn-block" *ngIf="!modificar" (click)="agregarUsuario()">CREAR</button>
      <button (click)="GuardarEditar()" *ngIf="modificar" class="btn btn-outline-warning" >Guardar</button>
      <button (click)="CancelarEditar()" *ngIf="modificar" class="btn btn-outline-primary" >Cancelar</button>
   
  </div>

        
        </body>